@for (errorData of errorList; track errorData) {
  <div>
    @if (errorData?.hasError) {
      <div class="d-flex bg-danger bg-opacity-25 m-3 p-3">
        <fa-icon [icon]="faFrown" class="text-danger fa-3x me-3"></fa-icon>
        <div class="flex-grow-1">
          <div class="d-flex flex-row">
            @if (errorData?.message) {
              <h3 class="flex-grow-1">{{errorData?.message}}</h3>
            }
            @if (errorData?.details && showDetails) {
              <fa-icon [icon]="faEyeSlash"
              (click)="showDetails = false"></fa-icon>
            }
            @if (errorData?.details && !showDetails) {
              <fa-icon [icon]="faEye"
              (click)="showDetails = true"></fa-icon>
            }
          </div>
          @if (errorData?.description) {
            <div>{{errorData?.description}}</div>
          }
          @if (errorData?.details) {
            <div class="d-flex flex-row mt-2">
              @if (showDetails) {
                <div>{{errorData.details}}</div>
              }
            </div>
          }
        </div>
      </div>
    }
  </div>
}