<h1>Mitglied {{ titleText() }}</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-2 col-lg-1 mb-3">
      <label for="id" class="form-label">Nummer</label>
      <input
        formControlName="id"
        type="text"
        class="form-control"
        id="id"
        readonly
      />
    </div>
    <div class="col mb-3">
      <label for="vorname" class="form-label">Vorname</label>
      <input
        formControlName="vorname"
        type="text"
        class="form-control"
        id="vorname"
      />
    </div>
    <div class="col mb-3">
      <label for="nachname" class="form-label">Nachname</label>
      <input
        formControlName="nachname"
        type="text"
        class="form-control"
        id="nachname"
      />
    </div>
  </div>
  <div class="mb-3">
    <label for="typ" class="form-label">Typ</label>
    <select class="form-select" formControlName="typ">
      <option *ngFor="let typ of userTypes" [ngValue]="typ">{{ typ }}</option>
    </select>
  </div>

  <div *ngIf="events.length" class="mb-3">
    <h2>Veranstaltungen</h2>
    <div *ngFor="let event of events" class="ms-2 mb-2">
      <a
        [routerLink]="['/events', 'detail', { id: event.id, command: 'SHOW' }]"
        >{{ event.name }}</a
      >
    </div>
  </div>

  <button type="submit" class="btn btn-outline-primary">
    {{ submitButtonText() }}
  </button>
  <a routerLink="/users" class="btn btn-outline-secondary mx-2"> Abbrechen </a>
</form>
