<h1>Mitglied {{ titleText() }}</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row mb-3">
    <div class="col-2 col-lg-1">
      <label for="id" class="form-label">Nummer</label>
      <input formControlName="id" type="text" class="form-control" id="id" readonly/>
    </div>
    <div class="col ">
      <label for="vorname" class="form-label">Vorname</label>
      <input formControlName="vorname" type="text" class="form-control" id="vorname"/>
    </div>
    <div class="col ">
      <label for="nachname" class="form-label">Nachname</label>
      <input formControlName="nachname" type="text" class="form-control" id="nachname"/>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Instrument</label>
      <select class="form-select" formControlName="instrument">
        <option *ngFor="let instrument of instruments" [ngValue]="instrument.id">{{instrument.gruppe}}
          {{instrument.instrument}}
        </option>
      </select>
    </div>
    <div class="col">
      <label class="form-label">Status</label>
      <select class="form-select" formControlName="status">
        <option *ngFor="let status of userStatus" [ngValue]="status">{{ status }}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="username" class="form-label">Benutzerkennung</label>
      <input formControlName="username" type="text" class="form-control" id="username"/>
    </div>
    <div class="col">
      <label class="form-label">Berechtigung</label>
      <select class="form-select" formControlName="role">
        <option *ngFor="let role of userRoles" [ngValue]="role">{{ role }}</option>
      </select>

    </div>
  </div>

  <div *ngIf="events.length" class="mb-3">
    <h2>Veranstaltungen</h2>
    <div *ngFor="let event of events" class="ms-2 mb-2">
      <a [routerLink]="['/events', 'detail', { id: event.id, command: 'SHOW' }]">
        <input type="checkbox" disabled [checked]="participate(event)" class="me-2"/>
        {{ event.name }}</a>
    </div>
  </div>

  <button type="submit" class="btn btn-outline-primary me-2 my-2">
    {{ submitButtonText() }}
  </button>
  <!--
    <button class="btn btn-outline-secondary me-2 my-2" (click)="onShowQrCode()">QR-Code für Login</button>
  -->
  <a routerLink="/users" class="btn btn-outline-secondary me-2 my-2"> Abbrechen </a>
</form>
