<h2>Teilnehmer</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th class="d-none d-sm-block">Instrument</th>
            <th *ngFor="let event of events">{{event.name}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>
                <a [routerLink]="['/participate',{id:user.id}]">
                    <span>{{user.vorname}}</span>
                    <span class="d-none d-sm-inline"> {{user.nachname}}</span>
                </a>
            </td>
            <td class="d-none d-sm-block">
                <span class="d-none d-md-inline">{{user.instrument?.gruppe}} / </span>
                <span>{{user.instrument?.instrument}}</span>
            </td>
            <td *ngFor="let event of events">
                <fa-icon *ngIf="participate(event,user)" [icon]="faCheckCircle" class="text-success">
                </fa-icon>
                <fa-icon *ngIf="!participate(event,user)" [icon]="faXmarkCircle" class="text-danger">
                </fa-icon>
            </td>
        </tr>
    </tbody>
</table>