<h1>Historie</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Datum</th>
      <th scope="col">Typ</th>
      <th scope="col">Id</th>
      <th scope="col">Daten</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prococol of protocols">
      <td>{{ prococol.createdAt | date: 'yy.MM.yyyy HH.mm' }}&nbsp;Uhr</td>
      <td>{{ prococol.type }}</td>
      <td>{{ prococol.entityType }} {{ prococol.entityId }}</td>
      <td>{{ prococol.data }}</td>
    </tr>
  </tbody>
</table>
