<div class="m-3">
  <nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li *ngIf="isLoggedInUser()" class="nav-item">
            <a class="nav-link" routerLink="/participants">Teilnahmelisten</a>
          </li>
          <li *ngIf="isAdmin()" class="nav-item">
            <a class="nav-link" routerLink="/users">Mitglieder</a>
          </li>
          <li *ngIf="isAdmin()" class="nav-item">
            <a class="nav-link" routerLink="/events">Veranstaltungen</a>
          </li>
          <li *ngIf="isAdmin()" class="nav-item">
            <a class="nav-link" routerLink="/protocol">Historie</a>
          </li>
          <li *ngIf="isLoggedInUser()" class="nav-item">
            <a class="nav-link ml-auto" [routerLink]="['/login']" [queryParams]="{logout:true}">Abmelden</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <evm-error [errorData]="errorData"></evm-error>
  <router-outlet></router-outlet>
</div>